<nav>
  <ul>
    <li><%= link_to 'Cookbooks', cookbooks_path %></li>
    <li><%= link_to 'New Cookbook', new_cookbook_path %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
    <li><%= link_to 'New Recipe', new_recipe_path %></li>
  </ul>
</nav>